.left-20 {
  left: 20px;
}

/* search */
.search-box {
  background-color: #fff;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 1.25rem;
}

.kotaTujuan {
  max-width: 543px;
}

.form-control,
.form-select {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #3c3e95;
  padding-left: 50px;
  color: #24201d;
}

.input-icon {
  left: 25px;
}

.line {
  height: 100px;
}

.durasi {
  width: 100%;
}
.checkIn label[for='datepicker'] {
  width: 100%;
}
.vr {
  width: 3px;
  height: 80px;
  background: #bfbfbf;
  border-radius: 2px;
}

#checkOutValue {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #24201d;
}

.tamuDanKamar {
  max-width: 370px;
  width: 100%;
}

#tamuDanKamar {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.select-box {
  max-width: 370px;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 2px;
  border-color: rgba(67, 67, 67, 0.17);
  border-radius: 6px;
  padding: 16px;
  background-color: #fff;
  box-shadow: rgb(27 27 27 / 20%) 0px 1px 3px 0px,
    rgb(27 27 27 / 10%) 0px 4px 8px 0;
  display: none;
  flex-direction: column;
}
.btn-search {
  background-color: #3c3e95;
  border-radius: 0.75rem;
  padding: 23px;
}

/* counter */
.input-counter:read-only {
  background-color: #fff;
}
.input-counter {
  max-width: 40px;
  padding: 0;
  text-align: center;
}
.btn-counter {
  background-color: rgba(247, 249, 250, 1);
}

/* box */
.box-1 {
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 1.25rem;
  position: sticky;
  top: 2rem;
}
.box-2 {
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 1.25rem;
}
.form-check-input:checked[type='radio'] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%233C3E95'/%3e%3c/svg%3e");
}
.form-check-input:checked[type='radio'] {
  background-color: #fff;
  border-color: #3c3e95;
}

.form-check-input {
  margin-top: 0;
  width: 20px;
  height: 20px;
}
.form-check-input:checked[type='checkbox'] {
  background-color: #3c3e95;
  border-color: #3c3e95;
}
.line {
  width: 6%;
}
.form-control-custom-wrapper {
  width: 47%;
}
.form-control-custom {
  padding: 10px 40px;
  width: 100%;
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  border-radius: 100px;
}
/* box 2 */
.img-wrapper {
  max-width: 340px;
  height: 224px;
}
.img-wrapper > .img-fluid {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 100%;
}
.img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 20px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 38.75%
  );
}
.rating {
  border-radius: 5px;
  align-self: center;
  width: fit-content;
  background-color: #fff2f7;
  border: 1px solid #ff498b;
  color: #ff498b;
  padding: 1px 10px;
}
.pagination .page-item .page-link.active {
  color: #fff;
  background-color: #3c3e95;
}
.pagination .page-item .page-link {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #24201d;
}
.hotel-link {
  text-decoration: none;
}
.hotel-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  background-color: transparent;
}

@media (min-width: 350px) and (max-width: 768px) {
  .navbar-brand > img {
    width: 120px;
  }
  .navbar.pb-50 {
    padding-bottom: 30px;
  }
  .btn.btn-sign-in.text-lg,
  .btn.btn-sign-up.text-lg {
    font-size: 0.875rem;
    padding: 5px 18px;
  }
  .vr-sm,
  .checkOut {
    display: none;
  }
  .recommendation {
    margin-top: 50px;
  }
  .kotaTujuan,
  .tamuDanKamar {
    max-width: 100%;
  }
  .select-box {
    max-width: 82%;
  }
  .checkIn {
    width: 100%;
  }
  .flex-xs-column {
    flex-direction: column !important;
  }
  .btn-search {
    padding: 10px;
    width: 100%;
  }
  .img-wrapper {
    max-width: 100%;
    height: auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

@media (max-width: 768px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .vr-md {
    display: none;
  }
  .kotaTujuan {
    max-width: 100%;
    width: 70%;
  }
  .checkIn {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .checkIn {
    width: 100%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .vr-md {
    display: block;
  }
  .durasi,
  .checkIn {
    max-width: 230px;
  }
  .kotaTujuan {
    max-width: 543px;
    width: 100%;
  }
}
